#mybody{
    background-color: lightgray;
}

.jumbotron {
    background-color: whitesmoke;
    padding-top: 0px;
	
}
.jumbotron h1{
    font-family: 'Courgette', cursive;
    font-size: 4.2rem;
    padding-top: 20px;
}

.jumbotron h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-top: 40px;
    padding-right: 20px;
}

.jumbotron h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-top: 80px;
    padding-right: 20px;
}

.jumbotron p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding-right: 20px;
}

.mid-section{
    background-color: gray;
    height: 33.33vh;
    margin: 0;
}

.bottom-section{
    
        background-color: whitesmoke;
        height: 33.33vh;
        margin: 0;
    
}

.imgSection1{
    width: 80%;

}